<div class="h-svh w-svw p-4 bg-letra-gris-claro flex justify-center items-center">
  <div class="container  gap-4 bg-fondo-blanco p-5 rounded-xl shadow-md h-5/6 flex flex-col">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="gap-4 space-y-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
          <label class="flex flex-col gap-1">
            Título
            <input 
              id="titulo" 
              formControlName="titulo" 
              type="text" 
              class="text-md font-semibold border-letra-gris-medio border-1 border-solid rounded-md px-2 py-2 focus:outline-none"
            >
            
          </label>
          
          <label class="flex flex-col gap-1">
            Categoría
            <input 
              id="categoria" 
              formControlName="categoria" 
              type="text" 
              class="text-md font-semibold border-letra-gris-medio border-1 border-solid rounded-md px-2 py-2 focus:outline-none"
            >
          </label>
          
          <label class="flex flex-col gap-1">
            Descripción
            <textarea 
              id="descripcion" 
              formControlName="descripcion" 
              class="text-md font-semibold border-letra-gris-medio border-1 border-solid rounded-md px-2 py-2 focus:outline-none"
            ></textarea>
          </label>
          
          <label class="flex flex-col gap-1">
            Fecha
            <input 
              id="fecha" 
              formControlName="fecha" 
              type="date" 
              class="text-md font-semibold border-letra-gris-medio border-1 border-solid rounded-md px-2 py-2 focus:outline-none"
            >
          </label>
          
          <label class="flex flex-col gap-1">
            Hora de Inicio
            <input 
              id="horaInicio" 
              formControlName="horaInicio" 
              type="time" 
              class="text-md font-semibold border-letra-gris-medio border-1 border-solid rounded-md px-2 py-2 focus:outline-none"
            >
          </label>
          
          <label class="flex flex-col gap-1">
            Hora de Fin
            <input 
              id="horaFin" 
              formControlName="horaFin" 
              type="time" 
              class="text-md font-semibold border-letra-gris-medio border-1 border-solid rounded-md px-2 py-2 focus:outline-none"
            >
          </label>
          
          <label class="flex flex-col gap-1">
            Lugar
            <input 
              id="lugar" 
              formControlName="lugar" 
              type="text" 
              class="text-md font-semibold border-letra-gris-medio border-1 border-solid rounded-md px-2 py-2 focus:outline-none"
            >
          </label>
          
          <label class="flex flex-col gap-1">
            Asistentes
            <select 
              id="asistentes" 
              formControlName="asistentes" 
              multiple 
              class="text-md font-semibold border-letra-gris-medio border-1 border-solid rounded-md px-2 py-2 focus:outline-none"
            >
              @for (usuario of usuarios; track usuario.id) {
                <option [value]="usuario.id">{{ usuario.nombre }}</option>
              }
            </select>
          </label>
        </div>
  
        <div class="flex gap-4 w-full justify-center mt-6 mb-4">
          <button 
            type="submit" 
            class="px-4 py-2 cursor-pointer hover:bg-fondo-verde-old text-lg bg-fondo-verde text-letra-blanca font-semibold border-none rounded-md"
          >
            {{ eventoId ? 'Actualizar' : 'Registrar' }}
          </button>
  
          <button 
            type="button" 
            (click)="cancelar()" 
            class="px-4 py-2 cursor-pointer hover:opacity-50 text-lg bg-color-rojo text-letra-blanca font-semibold border-none rounded-md"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
  