<div class="h-svh w-svw p-4 bg-letra-gris-claro flex justify-center items-center gap-5 flex-col">
    <div class="container">
        <div class="flex items-center gap-1 cursor-pointer"
            [routerLink]="['/']"
        >
            <a 
                
                class=" py-1 px-2 rounded-md bg-letra-blanca text-letra-negra text-lg shadow-sm border-none"
            >
                <i class="pi pi-arrow-left"></i>
                
            </a>
            <span class="text-letra-gris-oscuro font-medium">Volver</span>
        </div>
        
      </div> 
    <div class="container  gap-4 bg-fondo-blanco p-5 rounded-xl shadow-md h-5/6 flex flex-col">
        <div class="">
            <div class="flex gap-2 items-center">
                <div class="relative w-full flex items-center">
                    <i class="pi pi-search absolute left-3 text-letra-gris-medio"></i>
                    <input [(ngModel)]="busqueda" class="w-full pl-10 p-2 border border-letra-gris-medio rounded-md focus:outline-none focus:ring-1 focus:ring-fondo-verde focus:border-transparent" type="text" pInputText placeholder="Buscar" />
                </div>
    
                <a 
                    [routerLink]="'/usuarios/registrar-usuario'"
                    class="px-5 py-2 cursor-pointer hover:bg-fondo-verde-old text-lg bg-fondo-verde text-letra-blanca font-semibold border-none rounded-md"
                >
                    Registrar
                </a>
            </div>
        </div>
        <div class="w-full flex flex-col gap-4 overflow-x-auto h-full">
            @for (usuario of listaUsuario | buscarUsuario: busqueda; track usuario.id) {
                <app-tarjeta-usuario (notificacion)="notificacion($event)" [usuario]="usuario"></app-tarjeta-usuario>

            }@empty {
                <h2 class="text-center">No se encontraron usuarios</h2>
            }
        </div>
    </div>
</div>